{% load static %}
    
<link rel="stylesheet" href="styles.css">

<form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            {% for campo in formulario %}

                {% if forloop.counter0|divisibleby:2 %}
                    </div><div class="row">
                {% endif %}

                <div class="col-md-6">
                    {% if campo.name == 'sexo' %}
                        <div class="mb-3">
                            <label for="sexo" class="form-label">Sexo</label>
                            <select class="form-control" name="sexo" id="sexo">
                                <option value="Masculino" {% if assigned_sexo == 'Masculino' %}selected{% endif %}>Masculino</option>
                                <option value="Femenino" {% if assigned_sexo == 'Femenino' %}selected{% endif %}>Femenino</option>
                            </select>
                        </div>

                    {% elif campo.name == 'rol' %}
                        <div class="mb-3">
                            <label for="rol" class="form-label">Rol</label>
                            <select class="form-control" name="rol" id="rol">
                                <option value="Alumno" {% if assigned_role == 'Alumno' %}selected{% endif %}>Alumno</option>
                                <option value="Catequista" {% if assigned_role == 'Catequista' %}selected{% endif %}>Catequista</option>
                            </select>
                        </div>

                    {% elif campo.name == 'fecha_nacimiento' %}
                        <div class="mb-3">
                            <label for="fecha_nacimiento" class="form-label">Fecha Nacimiento</label>
                            <input type="date" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" value="{{ campo.value|date:'Y-m-d' }}">
                            <div class="col-12 help-text">{{ campo.errors }}</div>
                        </div>

                    {% elif campo.name == 'grupo' %}
                        <div class="mb-3">
                            <label for="grupo" class="form-label">Grupo</label>
                            <select class="form-control" name="grupo" id="grupo" multiple>
                                <option value="">--- Sin grupo ---</option>
                                {% for grupo in campo.field.queryset %}
                                    <option value="{{ grupo.id }}" {% if grupo in campo.value.all %}selected{% endif %}>
                                        {{ grupo.nom_grupo }} - {{ grupo.paralelo }} - {{ grupo.dia }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        {% elif campo.name == 'nombres' %}
                        <div class="mb-3">
                            <label for="nombres" class="form-label">{{ campo.label }}</label>
                            <input type="text" 
                                class="form-control" 
                                name="{{ campo.name }}" 
                                id="nombres" 
                                aria-describedby="helpId" 
                                placeholder="{{ campo.label }}"
                                value="{{ campo.value|default:'' }}" />
                            <div class="col-12 help-text">{{ campo.errors }}</div>
                        </div>

                    {% elif campo.name == 'apellidos' %}
                        <div class="mb-3">
                            <label for="apellidos" class="form-label">{{ campo.label }}</label>
                            <input type="text" 
                                class="form-control" 
                                name="{{ campo.name }}" 
                                id="apellidos" 
                                aria-describedby="helpId" 
                                placeholder="{{ campo.label }}"
                                value="{{ campo.value|default:'' }}" />
                            <div class="col-12 help-text">{{ campo.errors }}</div>
                        </div>

                        {% elif campo.name == 'telefono' %}
                        <div class="mb-3">
                            <label for="telefono" class="form-label">{{ campo.label }}</label>
                            <input type="text" 
                                class="form-control" 
                                name="{{ campo.name }}" 
                                id="telefono" 
                                aria-describedby="helpId" 
                                placeholder="{{ campo.label }}"
                                value="{{ campo.value|default:'' }}" />
                            <div class="col-12 help-text">{{ campo.errors }}</div>
                        </div>

                    {% else %}
                        <div class="mb-3">
                            <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
                            {% if campo.value %}
                                <img src="{{ campo.value.url }}" width="100" alt="" class="src">
                            {% endif %}
                            <input type="{{ campo.field.widget.input_type }}" 
                                class="form-control" 
                                name="{{ campo.name }}" 
                                id="{{ campo.id_for_label }}" 
                                aria-describedby="helpId" 
                                placeholder="{{ campo.label }}"
                                value="{{ campo.value|default:'' }}" />
                            <div class="col-12 help-text">{{ campo.errors }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <input class="btn btn-success" type="submit" value="Enviar" />
            <a class="btn btn-primary" href="{% url 'personas' %}" role="button">Volver</a>
        </div>
</form>

<script src="{% static 'js/validaciontexto.js' %}"></script>
<script src="{% static 'js/validacioncedula.js' %}"></script>